doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='../../../css/materialize.css')
	link(rel="stylesheet" href='../../../css/main.css')
	link(rel="stylesheet" href='../../../css/icon.css')
	link(rel="stylesheet" href='../../../css/fuente.css')
	script(type="text/javascript" src="../../../js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../../../js/materialize.min.js")
	

body(class="Oswald")
	header
		nav(class="indigo top-nav")

			div(class="nav-wrapper")
				ul
					li(class="hide-on-large-only")
						a(class="sideNav" data-activates="slide-out")
							i(class="material-icons left") menu

				-//Mostrar en pantallas grandes
				a(href="/inicio" class="brand-logo Oswald margen-dere show-on-large hide-on-med-and-down") SACOE
				-//Mostrar en pantallas medianas y peque침as
				a(href="/inicio" class="brand-logo Oswald show-on-medium-and-down hide-on-med-and-up") SACOE

				ul(id="nav-mobile" class="right")

					if rol_id == 1 
						li
							a(class='dropdown-button' data-activates='dropdown1')
								i(class="material-icons" id="active-notifi") notifications
									-//Aqui se colocara el puntico rojo cuando haya notificaciones

						
							ul(id='dropdown1' class='dropdown-content')
								li
									a(id="num-notifi" href="#!" class="col s12  black-text left") NOTIFICACIONES
										
								li(class="divider")
									-//Aqui se renderizaran las notificaciones

					li
						a(href="/logout")
							i(class="material-icons") exit_to_app
	main

		ul(id="slide-out" class="side-nav fixed")
			
			li(class="logo")
				img(class="responsive-img" src="../../../img/cac.jpg")

			li
			
				form(method="post" action="/buscar")

					div(class="input-field col s12 card")
						input(id="search" placeholder="Buscar..." class="deleteBorder" type="search" name="search")
						label(for="search")
			li.divider

			-// Administrador
			if rol_id == 1

				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold active")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer
				li(class="bold")
					a(href="/usuarios" class="waves-effect waves-red") Usuarios
						i(class="material-icons black-text") supervisor_account
			
			-//Coordinador
			if rol_id == 2
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer

			-//Analista - Lider de casa de paz
			if rol_id == 3
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

			-//Usuario
			if rol_id == 4
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home


		h4.center Editar datos de #{persona.nombre} #{persona.apellido}

		div(class="contenedor-form card-panel")

			div(class="row center")

				form(method="post" action="/persona/editar/editarSave" class="col s12")

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="fecha_contactado" type="text" value="#{personaGanar.fecha_contactado}" placeholder="Fecha al ser ganado" name="fecha_contactado" class="validate")
							label(for="fecha_contactado") Fecha al ser ganado

						div(class="input-field col s12 m4")
							
							input(id="fecha_nacimiento" type="text" value="#{persona.fecha_nacimiento}" placeholder="Fecha de nacimiento" name="fecha_nacimiento" class="validate")
							label(for="fecha_nacimiento") Fecha de nacimiento
							
						div(class="input-field col s12 m4")

							input(id="nombre" type="text" value="#{persona.nombre}" name="nombre" class="validate")
							label(for="nombre") Nombre

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="apellido" type="text" value="#{persona.apellido}" name="apellido" class="validate")
							label(for="apellido") Apellido

						div(class="input-field col s12 m4")
							select(name="sexo" id="sexo")
								option(value="" disabled selected) Selecciona el sexo
								option(value="m", selected=(persona.sexo == "m") ) Masculino
								option(value="f", selected=(persona.sexo == "f")) Femenino

						div(class="input-field col s12 m4")

							select(name="heredad" id="heredad")

								each campo in data_heredades
									option(value="#{campo.codigo}", selected=(persona.heredad_id == campo.id))= campo.nombre
								


							label Heredad

					div(class="row")

						div(class="input-field col s12 m4")
							
							select(name="nacionalidad" id="nacionalidad")
								option(value="" disabled selected) Selecciona la nacionalidad
								option(value="v", selected=(persona.nacionalidad == "v")) Venezolano
								option(value="e", selected=(persona.nacionalidad == "e")) Extranjero


						div(class="input-field col s12 m4")
							

							input(id="ocupacion" type="text" value="#{persona.ocupacion}" name="ocupacion" class="validate")
							label(for="ocupacion") Ocupaci칩n
							
						div(class="input-field col s12 m4")

							input(id="ciudad" type="text" value="#{persona.ciudad}" name="ciudad" class="validate")
							label(for="ciudad") Ciudad

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="telefono" type="text" value="#{persona.telefono}" name="telefono" class="validate")
							label(for="telefono") Telefono

						div(class="input-field col s12 m4")
							
							input(id="invitado_por" type="text" value="#{personaGanar.invitado_por}" name="invitado_por" class="validate")
							label(for="invitado_por") Invitado por
						

						div(class="input-field col s12 m4")

							input(id="correo" type="email" value="#{persona.correo}" name="correo" class="validate")
							label(for="correo") Correo

					div(class="row")

						div(class="input-field col s12")

							input(id="fechaVisitar" type="text" value="#{personaGanar.fecha_visitar}" name="fecha_visitar" class="validate")
							label(for="fechaVisitar") Dia y hora para visitar
					
					div(class="row")
						
						div(class="input-field col s12")

							input(id="direccion" type="text" value="#{persona.direccion}" name="direccion" class="validate")
							label(for="direccion") Direcci칩n

					div(class="row")
						
						div(class="input-field col s12")

							input(id="celula_insertar" type="text" value="#{personaGanar.celula_insertar}" name="celula_insertar" class="validate")
							label(for="celula_insertar") Celula a insertar

					div(class="row")
						
						div(class="input-field col s12")

							input(id="peticion_oracion" type="text" value="#{personaGanar.peticion_oracion}" name="peticion_oracion" class="validate")
							label(for="peticion_oracion") Peticion de oraci칩n

					div(class="row")

						div(class="input-field col s12")

							input(id="lugar_contacto" type="text" value="#{personaGanar.lugar_contacto}" name="lugar_contacto" class="validate")
							label(for="lugar_contacto") Lugar

					div(class="row")

						div(class="col s12")

							button(class="btn waves-effect indigo waves-light col s12 btn-large" type="submit" name="action") Guardar
	footer

	script(type="text/javascript" src="../../../js/componentsMaterialize.js")
	script(type="text/javascript" src="../../../js/socket.js")