doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='../css/pace_theme_flags.css')
	link(rel="stylesheet" href='../css/materialize.css')
	link(rel="stylesheet" href='../css/main.css')
	link(rel="stylesheet" href='../css/icon.css')
	link(rel="stylesheet" href='../css/fuente.css')
	script(type="text/javascript" src="../js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../js/materialize.min.js")
	
body(class="Oswald")

	header

		nav(class="indigo top-nav")

			div(class="nav-wrapper")

				ul
					li(class="hide-on-large-only")
						a(class="sideNav" data-activates="slide-out")
							i(class="material-icons left") menu

				-//Mostrar en pantallas grandes
				a(href="/inicio" class="brand-logo Oswald margen-dere show-on-large hide-on-med-and-down") SACOE
				-//Mostrar en pantallas medianas y pequeñas
				a(href="/inicio" class="brand-logo Oswald show-on-medium-and-down hide-on-med-and-up") SACOE

				ul(id="nav-mobile" class="right")

					if user.rol_id == 1 
						li
							a(class='dropdown-button' data-activates='dropdown1')
								i(class="material-icons" id="active-notifi") notifications
									-//Aqui se colocara el puntico rojo cuando haya notificaciones

						
							ul(id='dropdown1' class='dropdown-content')
								li
									a(id="num-notifi" href="#!" class="col s12  black-text left") NOTIFICACIONES
										
								li(class="divider")
									-//Aqui se renderizaran las notificaciones

					li
						a(href="/logout")
							i(class="material-icons") exit_to_app

	main

		ul(id="slide-out" class="side-nav fixed")
			
			li(class="logo")
				img(class="responsive-img" src="../img/cac.jpg")

			li
			
				form(method="post" action="/buscar")

					div(class="input-field col s12 card")
						input(id="search" placeholder="Buscar..." class="deleteBorder" type="search" name="search")
						label(for="search")
			li.divider
			-// Administrador
			if user.rol_id == 1

				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold active")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer
				li(class="bold")
					a(href="/usuarios" class="waves-effect waves-red") Usuarios
						i(class="material-icons black-text") supervisor_account
			
			-//Coordinador
			if user.rol_id == 2
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href=`/persona/redes/${user.id}` class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer

			-//Analista - Lider de casa de paz
			if user.rol_id == 3
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

			-//Usuario
			if user.rol_id == 4
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home



		div(class="row center")
			
			div(class="col s12")

				h4.center.margen-sup Heredades
					
				-//HEREDADES

				div(class="col s12 margen-sup hide-on-small-and-down show-on-medium-and-up")-//Para mostrar en pantallas medianas o mas grandes
					div.row

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[0].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped yellow col s12" data-position="top" data-delay="50" data-tooltip="#{datos[0].dataValues.total} Personas")= datos[0].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[1].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped purple col s12" data-position="top" data-delay="50" data-tooltip="#{datos[1].dataValues.total} Personas")= datos[1].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[2].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped pink col s12" data-position="top" data-delay="50" data-tooltip="#{datos[2].dataValues.total} Personas")= datos[2].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[3].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped blue col s12" data-position="top" data-delay="50" data-tooltip="#{datos[3].dataValues.total} Personas")= datos[3].dataValues.nombre

					div.row.margen-sup

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[4].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped indigo col s12" data-position="top" data-delay="50" data-tooltip="#{datos[4].dataValues.total} Personas")= datos[4].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[5].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[5].dataValues.total} Personas")= datos[5].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[6].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[6].dataValues.total} Personas")= datos[6].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[7].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12 col s12" data-position="top" data-delay="50" data-tooltip="#{datos[7].dataValues.total} Personas")= datos[7].dataValues.nombre

					div.row.margen-sup

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[8].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[8].dataValues.total} Personas")= datos[8].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[9].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[9].dataValues.total} Personas")= datos[9].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[10].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped light-green accent-3 black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[10].dataValues.total} Personas")= datos[10].dataValues.nombre

						div(class="col s3")
							
							a(href="/persona/heredad/#{datos[11].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[11].dataValues.total} Personas")= datos[11].dataValues.nombre
				
				div(class="col s12 hide-on-med-and-up show-on-small margen-sup")-//Para ver en pantallas mas pequeñas que la mediana

					div.row

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[0].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped yellow col s12" data-position="top" data-delay="50" data-tooltip="#{datos[0].dataValues.total} Personas")= datos[0].dataValues.nombre

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[1].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped purple col s12" data-position="top" data-delay="50" data-tooltip="#{datos[1].dataValues.total} Personas")= datos[1].dataValues.nombre

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[2].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped pink col s12" data-position="top" data-delay="50" data-tooltip="#{datos[2].dataValues.total} Personas")= datos[2].dataValues.nombre
							
					div.row.margen-sup

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[3].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped blue col s12" data-position="top" data-delay="50" data-tooltip="#{datos[3].dataValues.total} Personas")= datos[3].dataValues.nombre


						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[4].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped indigo col s12" data-position="top" data-delay="50" data-tooltip="#{datos[4].dataValues.total} Personas")= datos[4].dataValues.nombre

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[5].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[5].dataValues.total} Personas")= datos[5].dataValues.nombre

					div.row.margen-sup

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[6].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white col s12" data-position="top" data-delay="50" data-tooltip="#{datos[6].dataValues.total} Personas")= datos[6].dataValues.nombre


						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[7].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white col s12" data-position="top" data-delay="50" data-tooltip="#{datos[7].dataValues.total} Personas")= datos[7].dataValues.nombre

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[8].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[8].dataValues.total} Personas")= datos[8].dataValues.nombre

					div.row.margen-sup

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[9].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white col s12" data-position="top" data-delay="50" data-tooltip="#{datos[9].dataValues.total} Personas")= datos[9].dataValues.nombre


						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[10].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped light-green accent-3 col s12" data-position="top" data-delay="50" data-tooltip="#{datos[10].dataValues.total} Personas")= datos[10].dataValues.nombre

						div(class="col s4")
							
							a(href="/persona/heredad/#{datos[11].dataValues.codigo}" class="btn hoverable waves-effect waves-light btn-large black-text tooltipped white black-text col s12" data-position="top" data-delay="50" data-tooltip="#{datos[11].dataValues.total} Personas")= datos[11].dataValues.nombre

					
	footer(class="pagina-footer")
		div.copyright
			i(class="material-icons center" style="padding-left: 25%;") copyright
			P(style="padding-left: 2%;").center 2017 Todos los derechos reservados Casa de Adoracion Cristiana


	script(type="text/javascript" src="../../../js/pace.js")		
	script(type="text/javascript" src="../js/componentsMaterialize.js")
	script(type="text/javascript" src="../js/socket.js")