doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='css/pace_theme_flags.css')
	link(rel="stylesheet" href='css/materialize.css')
	link(rel="stylesheet" href='css/main.css')
	link(rel="stylesheet" href='css/icon.css')
	link(rel="stylesheet" href='css/fuente.css')
	script(type="text/javascript" src="js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="js/materialize.min.js")

body(class="Oswald")

	header

		nav(class="indigo top-nav")

			div(class="nav-wrapper")

				ul
					li(class="hide-on-large-only")
						a(class="sideNav" data-activates="slide-out")
							i(class="material-icons left") menu

				-//Mostrar en pantallas grandes
				a(href="/inicio" class="brand-logo Oswald margen-dere show-on-large hide-on-med-and-down") SACOE
				-//Mostrar en pantallas medianas y pequeñas
				a(href="/inicio" class="brand-logo Oswald show-on-medium-and-down hide-on-med-and-up") SACOE

				ul(id="nav-mobile" class="right")

					li
						a(href="/logout")
							i(class="material-icons") exit_to_app
	main

		ul(id="slide-out" class="side-nav fixed")
			
			li(class="logo")
				img(class="responsive-img" src="../img/cac.jpg")

			li
			
				form(method="post" action="/buscar")

					div(class="input-field col s12 card")
						input(id="search" placeholder="Buscar..." class="deleteBorder" type="search" name="search")
						label(for="search")
			li.divider
			-// Administrador
			if rol_id == 1

				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer
				li(class="bold")
					a(href="/usuarios" class="waves-effect waves-red") Usuarios
						i(class="material-icons black-text") supervisor_account
			
			-//Coordinador
			if rol_id == 2
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer

			-//Analista - Lider de casa de paz
			if rol_id == 3
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

			-//Usuario
			if rol_id == 4
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home

		div(class="row")
			
			div(class="col s12")

				h4.center Resultados

				table(class="bordered highlight")

					thead
						tr
							th.center Nombre
							th.center Apellido
							th.center Telefono
							th.center Edad
							th.center Actiones
					tbody
						each campo in persona
							tr
								td(class="center")= campo.nombre
								td(class="center")= campo.apellido
								td(class="center")= campo.telefono
								td(class="center")= campo.edad
								td(class="center")
									ul(class="center")

										div.row

											div(class="col s12 m4")
												li
													a(href="#")
														i(class="material-icons orange-text") border_color
												li
													a(href="/ver/#{campo.id}")
														i(class="material-icons green-text") visibility

											div(class="col s12 m4")
												li
													a(href="#")
														i(class="material-icons") email
												li
													a(href="#")
														i(class="material-icons red-text") picture_as_pdf
											

											div(class="col s12 m4")
												li

													a(href="#modal1")
						
														i(class="material-icons pink-text") delete_forever

									div(id="modal1" class="modal")
										div(class="modal-content")
											i(class="material-icons medium red-text") warning
											h5 Esta seguro que desea eliminar a esta persona.
											p Al presionar en el boton Si ya no podra recuperar los datos de esta persona.
										div(class="row")
						
											div(class="col s6")
												a(href="/borrar/#{campo.id}" class="modal-action modal-close waves-effect waves-light btn green") Si
											div(class="col s6")
												a(class="modal-action modal-close waves-effect waves-light btn red") No
	footer

	script(type="text/javascript" src="js/pace.js")
	script(type="text/javascript" src="js/componentsMaterialize.js")